h1 {
	
	
	font-family: Baskerville Old Face; 
	font-size: 100px; 
	text-align: center;
	margin-top: 30px;
	border-bottom: 5px solid black;
	
	
}
	

	
h2 {
	
	text-align: left;
	padding-left: 100px; 
	color: rgb(40, 54, 76); 
	font-size: 50px; 
	font-family: Verdana;
	text-decoration: underline;
	
} 
	

ul {
	
	list-style-type: square; 
	
}

	
li { 

	color: maroon; 
	margin-left: 100px; 
	
} 

li p {
	
	text-decoration: none; 
	color: brown; 
	font-size: 25px; 

} 
