h1 {

	color: rgb(114, 96, 96);
	border-top: 5px solid rgb(102, 3, 3); 
	border-bottom: 5px solid rgb(102, 3, 3);
	font-family: Palatino;
	text-align:center;
	font-size: 100px;
	margin-bottom: 30px;
	margin-top: 30px;
}

h2 {
	
	margin-top: 30px;
	font-family:Times New Roman;
	font-style:italic;
	text-align: center;
	color: black;
	
}

img.thumbnail {
	float: right;
	width: 50px;
	height: 50px;
	padding: 4px;
	border: 0px solid;
	border-radius: 50%;
}


img.rotate {
	
	display: block;
	height: 300px;
	width: 300px;
	margin: auto;
	transform: rotate(-90deg); 
	border-radius: 50%;
	
	
}



