h1 {

	color: rgb(37, 55, 84);
	border-color: rgb(102, 3, 3); 
	border-width: 3px;
	border-style: double;
	font-family: Courier New;
	text-align:center;
	font-size: 80px;
	margin-bottom: 30px;
	letter-spacing: 3px;
	
}

h2 {
	
	margin-top: 100px;
	font-family:Times New Roman;
	font-style:italic;
	text-align: center;
	color: black;
	
}

img.thumbnail {
	float: right;
	width: 50px;
	height: 50px;
	padding: 4px;
	border: 0px solid;
	border-radius: 50%;
}


img.rotate {
	
	display: block;
	height: 300px;
	width: 300px;
	margin: auto;
	transform: rotate(-90deg); 
	border-radius: 50%;
	
	
}



li.vertical {
	
	margin-bottom: 50px; 
	max-width: 75%;
	text-indent: -115px;
}

.inline {
	
	display:inline; 
	font-size: 15px; 
	

}

li {
	
	float:left;
	font-size: 18px;
	
} 

ul.horizontal {
	
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color:rgb(201, 214, 226);
	border: ridge;
	
}

li a.horizontal {
	
	display: block;
	color: white;
	text-align: center;
	padding: 20px 0px 20px 300px;
	text-decoration: none;
}


